@model IEnumerable<websitestintuc.Models.TinTuc>

@{
    ViewBag.Title = "getNewsCategories";
    Layout = "~/Views/Shared/_Layoutuser.cshtml";
}

@*<h3 class="d-flex justify-content-center" style="padding-bottom: 1vh ">Tin theo chủ đề</h3>*@

<h3 class="d-flex justify-content-center" style="padding-bottom: 1vh ">Tin theo chủ đề @ViewData["DisplayCategory"]</h3>

@foreach (var result in Model)
{
    <div class="contentNew">
        <div class="content">
            <div class="topContent">
                <a class="titleNew" href="@result.Link">@result.title</a>
                <span class="descriptionNew">@result.description</span>
            </div>
        </div>
        <div class="image">
            <!-- <img
                src="./pngtree-beautiful-admin-roles-line-vector-icon-png-image_2042211.jpg"
                alt=""
            /> -->
        </div>
    </div>
}

