@model IEnumerable<websitestintuc.Models.TinTuc>
@{
    ViewBag.Title = "topList";
    Layout = "~/Views/Shared/_Layoutuser.cshtml";
}

<h3 class="d-flex justify-content-center" style="padding-bottom: 1vh ">Tin hot</h3>

@foreach (var result in Model)
{
    <div class="contentNew">
        <div class="content">
            <div class="topContent">
                <a class="titleNew" href="@result.Link">@result.title</a>
                <span class="descriptionNew">@result.description</span>
            </div>
        </div>
        <div class="image">
            <img src="@Url.Content("~/ImageUpload/" +result.Imagedemo)"
                 alt="" />
        </div>
    </div>
}