@model websitestintuc.Models.category

@{
    ViewBag.Title = "DeleteCategories";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Xóa Loại</h2>

<h3>Bạn Có Chắc Xóa Không</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Trở Về", "Categories")
        </div>
    }
</div>
