@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Login Form</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Css/Login.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
          rel="stylesheet" />
</head>
<body>
    <div class="loginBox-wrapper">
        <div class="loginBox">
            <span class="titleLogin">Login</span>
            <span class="subtitleLogin">Vui Lòng Nhập Tài Khoản </span>
            <h2 style="color: red;text-align: center;">@ViewBag.Thongbao</h2>
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true)
                <div class="Textbox1FormLogin">
                    <span class="icon"><i class="fa fa-user"></i></span>
                    <input type="text" placeholder="UserName" name="username" />
                </div>
                <span style="color:black">@ViewData["Loi1"]</span>
                <div class="Textbox2FormLogin">
                    <span class="icon"><i class="fa fa-lock"></i></span>
                    <input type="password" placeholder="Password" name="password" />
                </div>
                <span style="color:black">@ViewData["Loi2"]</span>
                <button type="submit" class="buttonSubmitLogin">Đăng Nhập</button>
            }
        </div>
    </div>
</body>
</html>

