@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Login Form</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Css/Login.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
          rel="stylesheet" />
</head>
<body>
    <div class="loginbox">
        <h1>Login</h1>
        <p>Vui Lòng Nhập Tài Khoản </p>
        <h2 style="color: red;text-align: center;">@ViewBag.Thongbao</h2>
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
            <div class="Textbox1">
                <span class="icon"><i class="fa fa-user"></i></span>
                <input type="text" placeholder="UserName" name="username" />
                @ViewData["Loi1"]
            </div>
            <div class="Textbox2">
                <span class="icon"><i class="fa fa-lock"></i></span>
                <input type="password" placeholder="Password" name="password" />
                @ViewData["Loi2"]
            </div>
            <button type="submit" class="btn" >Đăng Nhập</button>
        }
    </div>
</body>
</html>

